.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &__list {
    li {
      width: 68px;
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-align: center;
        display: block;
        width: 100%;
        padding: 1px;
        border-bottom: 2px solid transparent;
        transition: all 0.5s;
        &:hover {
          border-bottom: 2px solid $secondary;
        }
      }
    }
  }
}
