<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
   <header class="header w-100 border bord-1 bord-dark position-relative bg-white">
     <div class="container py-2 position-relative text-center">
      <a href="index.html" class="h4 text-primary">EXHIBINECTION</a>
      <ul class="header__list d-flex position-absolute top-50 end-0 translate-middle">
        <li class="d-none d-lg-block"><a href="#" class="h6 text-dark me-5">Sign in</a></li>
        <li class="d-none d-lg-block"><a href="#" class="h6 text-dark me-5">Sign up</a></li>
        <li><a href="#" id="addChart" class="h6 text-black position-relative">
          <span class="material-icons">confirmation_number</span>
          <span class="state-number">3</span>
        </a></li>
      </ul>
     </div>
   </header>

   <div class="chartModal bg-black d-flex flex-column w-100 " id="chartModal">
    <div class="chartModal__header mb-2">
        <h3 class="fw-bold text-white">Cart List</h3>
    </div>
    <ul class="chartModal__list pe-md-3">
        <li class="chartModal__card">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="chartModal__card_row px-5 d-flex justify-content-between align-items-center">
                <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
                <div class="ms-3 h-100 d-flex flex-column justify-content-betweem">
                    <div>
                        <h6 class="fw-bold">2020 台味設計展</h6>
                        <h6 class=" mt-1">01 JUN — 31 OCT</h6>
                        <h6 class="text-dark mt-1">全票</h6>
                    </div>
                    <h5 class="fw-bold mt-auto">NT$350</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="ticketButton h5 fw-light">-</button>
                    <input type="number" class="ticketButton-input h5 text-center border-0 fw-bold" value="01">
                    <button class="ticketButton h6 fw-light">+</button>
                </div>
            </div>
        </li>
        <li class="chartModal__card">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="chartModal__card_row px-5 d-flex justify-content-between align-items-center">
                <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
                <div class="ms-3 h-100 d-flex flex-column justify-content-betweem">
                    <div>
                        <h6 class="fw-bold">2020 台味設計展</h6>
                        <h6 class=" mt-1">01 JUN — 31 OCT</h6>
                        <h6 class="text-dark mt-1">全票</h6>
                    </div>
                    <h5 class="fw-bold mt-auto">NT$350</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="ticketButton h5 fw-light">-</button>
                    <input type="number" class="ticketButton-input h5 text-center border-0 fw-bold" value="01">
                    <button class="ticketButton h6 fw-light">+</button>
                </div>
            </div>
        </li>
        <li class="chartModal__card">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="chartModal__card_row px-5 d-flex justify-content-between align-items-center">
                <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
                <div class="ms-3 h-100 d-flex flex-column justify-content-betweem">
                    <div>
                        <h6 class="fw-bold">2020 台味設計展</h6>
                        <h6 class=" mt-1">01 JUN — 31 OCT</h6>
                        <h6 class="text-dark mt-1">全票</h6>
                    </div>
                    <h5 class="fw-bold mt-auto">NT$350</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="ticketButton h5 fw-light">-</button>
                    <input type="number" class="ticketButton-input h5 text-center border-0 fw-bold" value="01">
                    <button class="ticketButton h6 fw-light">+</button>
                </div>
            </div>
        </li>
        <li class="chartModal__card">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="chartModal__card_row px-5 d-flex justify-content-between align-items-center">
                <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
                <div class="ms-3 h-100 d-flex flex-column justify-content-betweem">
                    <div>
                        <h6 class="fw-bold">2020 台味設計展</h6>
                        <h6 class=" mt-1">01 JUN — 31 OCT</h6>
                        <h6 class="text-dark mt-1">全票</h6>
                    </div>
                    <h5 class="fw-bold mt-auto">NT$350</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="ticketButton h5 fw-light">-</button>
                    <input type="number" class="ticketButton-input h5 text-center border-0 fw-bold" value="01">
                    <button class="ticketButton h6 fw-light">+</button>
                </div>
            </div>
        </li>
        <li class="chartModal__card">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="chartModal__card_row px-5 d-flex justify-content-between align-items-center">
                <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
                <div class="ms-3 h-100 d-flex flex-column justify-content-betweem">
                    <div>
                        <h6 class="fw-bold">2020 台味設計展</h6>
                        <h6 class=" mt-1">01 JUN — 31 OCT</h6>
                        <h6 class="text-dark mt-1">全票</h6>
                    </div>
                    <h5 class="fw-bold mt-auto">NT$350</h5>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="ticketButton h5 fw-light">-</button>
                    <input type="number" class="ticketButton-input h5 text-center border-0 fw-bold" value="01">
                    <button class="ticketButton h6 fw-light">+</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="mt-auto d-flex justify-content-between w-100">
        <div class="d-flex fw-bold text-white">
            <h5 class="me-4">小計</h5>
            <h5>NT$1050</h5>
        </div>
    </div>
</div>

    <%- contents %>


<!-- 猜你也喜歡 -->
<section class="container mb-8">
  <h2 class="fw-bold mb-4">猜你也喜歡...</h3>
  <ul class="row maybeLike flex-md-nowrap">
      <li class="maybeLike__item col-12 col-md-4 offset-md-1">
          <div class="maybeLike__img mb-1" style="background-image: url(https://images.unsplash.com/photo-1492087368735-957f2d176504?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=660&q=80);"></div>
          <h6 class="fw-bold mb-1">No.22 線上設計展</h6>
          <h6 class="fw-light">$350</h6>
      </li>
      <li class="maybeLike__item col-12 col-md-4">
          <div class="maybeLike__img mb-1" style="background-image: url(https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);"></div>
          <h6 class="fw-bold mb-1">No.22 線上設計展</h6>
          <h6 class="fw-light">$350</h6>
      </li>
      <li class="maybeLike__item col-12 col-md-4">
          <div class="maybeLike__img mb-1" style="background-image: url(https://images.unsplash.com/photo-1578402025217-920675beb3c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=765&q=80;"></div>
          <h6 class="fw-bold mb-1">No.22 線上設計展</h6>
          <h6 class="fw-light">$350</h6>
      </li>
  </ul>
</section>
<!-- 訂閱最新消息 -->
<section class="news w-100">
  <div class="container">
      <h2 class="text-white fw-bold mb-2">
          想收到展覽的最新消息嗎？<br>快訂閱我們！
      </h2>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-10">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Input group example" aria-describedby="btnGroupAddon2">
                  <a class="input-group-text btn-secondary py-2 px-7" id="btnGroupAddon2">訂閱</a>
                </div>
          </div>
      </div>
  </div>
</section>
<!-- footer -->
   <footer class="w-100 border bord-1 bord-dark py-5">
     <div class="container">
       <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h4 class="me-3">EXHIBINECTION</h4>
            <h6 class="fw-normal">© 2020. All Rights Reserved.</h6>
          </div>
          <div>
            <ul class="d-md-flex d-none">
              <li><a href="#" class="text-dark me-4">Sign in</a></li>
              <li><a href="#" class="text-dark">Sign up</a></li>
            </ul>
          </div>
      </div>
       </div>
   </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>