.ticket-height {
  height: 256px;
}
.ticketButton {
  background-color: transparent;
  border: 0;
  &-input {
    width: 3rem;
  }
}
.ticket-type {
  padding: 3px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease;
  &:hover {
    border-bottom: 2px solid $secondary;
  }
}
.ticket-radio:checked {
  & + .ticket-type {
    border-bottom: 2px solid $secondary;
  }
}

//
.celebration {
  &__firstImg {
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1546013848-afcad42624d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
  }
  &__sideImg {
    height: 560px;
    background-image: url(https://images.unsplash.com/photo-1494660084187-79afc14b7c0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=569&q=80);
  }
}

//
.chartModal {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 32px;
  padding-top: 54px;
  transition: all 0.5s ease;
  transform: translateX(100%);
  @include media-breakpoint-up(md) {
    width: auto !important;
  }
  &__list {
    height: 70vh;
    overflow-y: scroll;
  }
  &__card {
    padding: 4px;
    padding-bottom: 24px;
    background-color: $white;
    margin-bottom: 12px;
    width: 500px;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    &_row {
      height: 120px;
    }
    img {
      width: 120px;
      height: 100%;
      object-fit: cover;
    }
  }
  &--active {
    transform: translateX(0%) !important;
  }
}
