.header {
  z-index: $zindex-fixed;
}
//
.state-number {
  position: absolute;
  background-color: $secondary;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.4rem;
  color: #fff;
  top: -0.8rem;
  right: -0.3rem;
  border-radius: 50%;
}
//
.hero {
  padding: 167px 0;
  background-image: url("https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=893&q=80");
  background-size: cover;
  background-position: center center;
  .btn {
    padding: 10px 48px;
  }
}
